# **EDA**

In [ ]:
import pandas as pd

In [ ]:
real = pd.read_csv('/content/Data.csv')

In [ ]:
real.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
real.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:
real.shape

(1460, 81)

In [ ]:
# Data Types
real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [ ]:
# Basic Statistics of the data
real.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [ ]:
# Check nulls
real.isnull().sum().sum()

np.int64(7829)

In [ ]:
# Checking nulls for each column
Missing_Data = real.isnull().sum()
Missing_Data

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [ ]:
# missing percentage data for each column
Missing_Data_Percent = Missing_Data / len(real) * 100
Missing_Data_Percent

Id                0.000000
MSSubClass        0.000000
MSZoning          0.000000
LotFrontage      17.739726
LotArea           0.000000
                   ...
MoSold            0.000000
YrSold            0.000000
SaleType          0.000000
SaleCondition     0.000000
SalePrice         0.000000
Length: 81, dtype: float64

In [ ]:
# List columns with more than 20% missing data
Missing_Data_20 = Missing_Data_Percent[Missing_Data_Percent > 20]
Missing_Data_20

Alley          93.767123
MasVnrType     59.726027
FireplaceQu    47.260274
PoolQC         99.520548
Fence          80.753425
MiscFeature    96.301370
dtype: float64

In [ ]:
# Check Duplicates
real.duplicated().sum()

np.int64(0)

In [ ]:
# Outliers
# IQR is not affected by outliers because it only consider values between Q1 and Q3
# dictionary to store the number of outliers for each numerical_variable
Outliers_IQR = {}

# For Loop (for each numerical_variable)
for column in numeric_real:
    # Quartile 1 (25%)
    Q1 = real[column].quantile(0.25)

    # Quartile 3 (75%)
    Q3 = real[column].quantile(0.75)

    # Interquartile Range (IQR) = (the middle 50% of the data)
    IQR = Q3 - Q1

    # calculate lower and upper fence
    # any value outside of this range is an outlier
    lower_fence = Q1 - 1.5 * IQR
    upper_fence = Q3 + 1.5 * IQR

    # counts the number of outliers
    # df[column] < lower_fence = checks the value of each column if its smaller than lower fence
    # | (or) df[column] > upper_fence = checks the value of each column if its bigger than upper fence
    Outliers_IQR[column] = ((real[column] < lower_fence) | (real[column] > upper_fence)).sum()

# Dsiplay the number of outliers for each column
Outliers_IQR

{'Id': np.int64(0),
 'MSSubClass': np.int64(103),
 'LotFrontage': np.int64(88),
 'LotArea': np.int64(69),
 'OverallQual': np.int64(2),
 'OverallCond': np.int64(125),
 'YearBuilt': np.int64(7),
 'YearRemodAdd': np.int64(0),
 'MasVnrArea': np.int64(96),
 'BsmtFinSF1': np.int64(7),
 'BsmtFinSF2': np.int64(167),
 'BsmtUnfSF': np.int64(29),
 'TotalBsmtSF': np.int64(61),
 '1stFlrSF': np.int64(20),
 '2ndFlrSF': np.int64(2),
 'LowQualFinSF': np.int64(26),
 'GrLivArea': np.int64(31),
 'BsmtFullBath': np.int64(1),
 'BsmtHalfBath': np.int64(82),
 'FullBath': np.int64(0),
 'HalfBath': np.int64(0),
 'BedroomAbvGr': np.int64(35),
 'KitchenAbvGr': np.int64(68),
 'TotRmsAbvGrd': np.int64(30),
 'Fireplaces': np.int64(5),
 'GarageYrBlt': np.int64(0),
 'GarageCars': np.int64(5),
 'GarageArea': np.int64(21),
 'WoodDeckSF': np.int64(32),
 'OpenPorchSF': np.int64(77),
 'EnclosedPorch': np.int64(208),
 '3SsnPorch': np.int64(24),
 'ScreenPorch': np.int64(116),
 'PoolArea': np.int64(7),
 'MiscVal': np.int64(52),
 'MoSold': np.int64(0),
 'YrSold': np.int64(0),
 'SalePrice': np.int64(61)}

# **Data Cleaning**

In [ ]:
# Drop the columns with more than 20% missing data
Droped_Columns = Missing_Data_20.index
real.drop(columns=Droped_Columns, inplace=True)

In [ ]:
real.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [ ]:
# Rename All columns
rename_dict = {
    "Id": "House_ID",
    "MSSubClass": "Building_Class",
    "MSZoning": "Zoning_Class",
    "LotFrontage": "Lot_Frontage",
    "LotArea": "Lot_Area",
    "Street": "Street_Type",
    "LotShape": "Lot_Shape",
    "LandContour": "Land_Contour",
    "Utilities": "Utilities_Available",
    "LotConfig": "Lot_Configuration",
    "LandSlope": "Land_Slope",
    "Neighborhood": "Neighborhood_Name",
    "Condition1": "Condition_Primary",
    "Condition2": "Condition_Secondary",
    "BldgType": "Building_Type",
    "HouseStyle": "House_Style",
    "OverallQual": "Overall_Quality",
    "OverallCond": "Overall_Condition",
    "YearBuilt": "Year_Built",
    "YearRemodAdd": "Year_Remodeled",
    "RoofStyle": "Roof_Style",
    "RoofMatl": "Roof_Material",
    "Exterior1st": "Exterior_Type_1",
    "Exterior2nd": "Exterior_Type_2",
    "MasVnrArea": "Masonry_Veneer_Area",
    "ExterQual": "Exterior_Quality",
    "ExterCond": "Exterior_Condition",
    "Foundation": "Foundation_Type",
    "BsmtQual": "Basement_Quality",
    "BsmtCond": "Basement_Condition",
    "BsmtExposure": "Basement_Exposure",
    "BsmtFinType1": "Basement_Finish_Type_1",
    "BsmtFinSF1": "Basement_Finished_SF_1",
    "BsmtFinType2": "Basement_Finish_Type_2",
    "BsmtFinSF2": "Basement_Finished_SF_2",
    "BsmtUnfSF": "Basement_Unfinished_SF",
    "TotalBsmtSF": "Total_Basement_SF",
    "Heating": "Heating_Type",
    "HeatingQC": "Heating_Quality",
    "CentralAir": "Central_Air",
    "Electrical": "Electrical_System",
    "1stFlrSF": "First_Floor_SF",
    "2ndFlrSF": "Second_Floor_SF",
    "LowQualFinSF": "Low_Quality_Finished_SF",
    "GrLivArea": "Above_Ground_Living_Area",
    "BsmtFullBath": "Basement_Full_Bath",
    "BsmtHalfBath": "Basement_Half_Bath",
    "FullBath": "Full_Bathrooms",
    "HalfBath": "Half_Bathrooms",
    "BedroomAbvGr": "Bedrooms_Above_Grade",
    "KitchenAbvGr": "Kitchens_Above_Grade",
    "KitchenQual": "Kitchen_Quality",
    "TotRmsAbvGrd": "Total_Rooms_Above_Grade",
    "Functional": "Functional_Rating",
    "Fireplaces": "Number_of_Fireplaces",
    "GarageType": "Garage_Type",
    "GarageYrBlt": "Garage_Year_Built",
    "GarageFinish": "Garage_Finish_Type",
    "GarageCars": "Garage_Capacity_Cars",
    "GarageArea": "Garage_Area",
    "GarageQual": "Garage_Quality",
    "GarageCond": "Garage_Condition",
    "PavedDrive": "Paved_Driveway",
    "WoodDeckSF": "Wood_Deck_SF",
    "OpenPorchSF": "Open_Porch_SF",
    "EnclosedPorch": "Enclosed_Porch_SF",
    "3SsnPorch": "Three_Season_Porch_SF",
    "ScreenPorch": "Screen_Porch_SF",
    "PoolArea": "Pool_Area",
    "MiscVal": "Miscellaneous_Value",
    "MoSold": "Month_Sold",
    "YrSold": "Year_Sold",
    "SaleType": "Sale_Type",
    "SaleCondition": "Sale_Condition",
    "SalePrice": "Sale_Price"
}

In [ ]:
real.rename(columns=rename_dict, inplace=True)

In [ ]:
real.head()

,House_ID,Building_Class,Zoning_Class,Lot_Frontage,Lot_Area,Street_Type,Lot_Shape,Land_Contour,Utilities_Available,Lot_Configuration,...,Enclosed_Porch_SF,Three_Season_Porch_SF,Screen_Porch_SF,Pool_Area,Miscellaneous_Value,Month_Sold,Year_Sold,Sale_Type,Sale_Condition,Sale_Price
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [ ]:
real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 75 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   House_ID                  1460 non-null   int64
 1   Building_Class            1460 non-null   int64
 2   Zoning_Class              1460 non-null   object
 3   Lot_Frontage              1201 non-null   float64
 4   Lot_Area                  1460 non-null   int64
 5   Street_Type               1460 non-null   object
 6   Lot_Shape                 1460 non-null   object
 7   Land_Contour              1460 non-null   object
 8   Utilities_Available       1460 non-null   object
 9   Lot_Configuration         1460 non-null   object
 10  Land_Slope                1460 non-null   object
 11  Neighborhood_Name         1460 non-null   object
 12  Condition_Primary         1460 non-null   object
 13  Condition_Secondary       1460 non-null   object
 14  Building_Type             1460 non-null   object
 15  House_Style               1460 non-null   object
 16  Overall_Quality           1460 non-null   int64
 17  Overall_Condition         1460 non-null   int64
 18  Year_Built                1460 non-null   int64
 19  Year_Remodeled            1460 non-null   int64
 20  Roof_Style                1460 non-null   object
 21  Roof_Material             1460 non-null   object
 22  Exterior_Type_1           1460 non-null   object
 23  Exterior_Type_2           1460 non-null   object
 24  Masonry_Veneer_Area       1452 non-null   float64
 25  Exterior_Quality          1460 non-null   object
 26  Exterior_Condition        1460 non-null   object
 27  Foundation_Type           1460 non-null   object
 28  Basement_Quality          1423 non-null   object
 29  Basement_Condition        1423 non-null   object
 30  Basement_Exposure         1422 non-null   object
 31  Basement_Finish_Type_1    1423 non-null   object
 32  Basement_Finished_SF_1    1460 non-null   int64
 33  Basement_Finish_Type_2    1422 non-null   object
 34  Basement_Finished_SF_2    1460 non-null   int64
 35  Basement_Unfinished_SF    1460 non-null   int64
 36  Total_Basement_SF         1460 non-null   int64
 37  Heating_Type              1460 non-null   object
 38  Heating_Quality           1460 non-null   object
 39  Central_Air               1460 non-null   object
 40  Electrical_System         1459 non-null   object
 41  First_Floor_SF            1460 non-null   int64
 42  Second_Floor_SF           1460 non-null   int64
 43  Low_Quality_Finished_SF   1460 non-null   int64
 44  Above_Ground_Living_Area  1460 non-null   int64
 45  Basement_Full_Bath        1460 non-null   int64
 46  Basement_Half_Bath        1460 non-null   int64
 47  Full_Bathrooms            1460 non-null   int64
 48  Half_Bathrooms            1460 non-null   int64
 49  Bedrooms_Above_Grade      1460 non-null   int64
 50  Kitchens_Above_Grade      1460 non-null   int64
 51  Kitchen_Quality           1460 non-null   object
 52  Total_Rooms_Above_Grade   1460 non-null   int64
 53  Functional_Rating         1460 non-null   object
 54  Number_of_Fireplaces      1460 non-null   int64
 55  Garage_Type               1379 non-null   object
 56  Garage_Year_Built         1379 non-null   float64
 57  Garage_Finish_Type        1379 non-null   object
 58  Garage_Capacity_Cars      1460 non-null   int64
 59  Garage_Area               1460 non-null   int64
 60  Garage_Quality            1379 non-null   object
 61  Garage_Condition          1379 non-null   object
 62  Paved_Driveway            1460 non-null   object
 63  Wood_Deck_SF              1460 non-null   int64
 64  Open_Porch_SF             1460 non-null   int64
 65  Enclosed_Porch_SF         1460 non-null   int64
 66  Three_Season_Porch_SF     1460 non-null   int64
 67  Screen_Porch_SF           1460 non-null   int64
 68  Pool_Area                 1460 non-null   int64
 69  Miscellaneous_Value       1460 non-null   int64
 70  Month_Sold                1460 non-null   int64
 71  Year_Sold                 1460 non-null   int64
 72  Sale_Type                 1460 non-null   object
 73  Sale_Condition            1460 non-null   object
 74  Sale_Price                1460 non-null   int64
dtypes: float64(3), int64(35), object(37)
memory usage: 855.6+ KB

In [ ]:
# Change Data Types
real['House_ID'] = real['House_ID'].astype('object')
real['Building_Class'] = real['Building_Class'].astype('object')

In [ ]:
# Nulls
real.isnull().sum()[real.isnull().sum() > 0]

Lot_Frontage              259
Masonry_Veneer_Area         8
Basement_Quality           37
Basement_Condition         37
Basement_Exposure          38
Basement_Finish_Type_1     37
Basement_Finish_Type_2     38
Electrical_System           1
Garage_Type                81
Garage_Year_Built          81
Garage_Finish_Type         81
Garage_Quality             81
Garage_Condition           81
dtype: int64

### Categorical Nulls

In [ ]:
# Replace Categorical Nulls that means no features for this
No_Features = [
    'Basement_Quality',
    'Basement_Condition',
    'Basement_Exposure',
    'Basement_Finish_Type_1',
    'Basement_Finish_Type_2',
    'Garage_Type',
    'Garage_Finish_Type',
    'Garage_Quality',
    'Garage_Condition'
]
real[No_Features] = real[No_Features].fillna('None')

In [ ]:
# Electrical_System has 1 null so = mode (most frequent value)
real['Electrical_System'].fillna(real['Electrical_System'].mode()[0],inplace=True)

/tmp/ipython-input-156930730.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  real['Electrical_System'].fillna(real['Electrical_System'].mode()[0],inplace=True)

###  Numeric Nulls

In [ ]:
# Lot_Frontage = linear feet connected to property so use median
real['Lot_Frontage'].fillna(real['Lot_Frontage'].median(),inplace = True)

/tmp/ipython-input-3493953755.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  real['Lot_Frontage'].fillna(real['Lot_Frontage'].median(),inplace = True)

In [ ]:
# Masonry_Veneer_Area = means no venner = fill with 0
real['Masonry_Veneer_Area'].fillna(0,inplace = True)

/tmp/ipython-input-1727710439.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  real['Masonry_Veneer_Area'].fillna(0,inplace = True)

In [ ]:
# Garage_Year_Built means no grage = fill with 0
real['Garage_Year_Built'].fillna(0,inplace = True)

/tmp/ipython-input-1771826357.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  real['Garage_Year_Built'].fillna(0,inplace = True)

In [ ]:
# Check after handling nulls
real.isnull().sum().sum()

np.int64(0)

### Outliers

In [ ]:
Outliers_Columns = {col: count for col, count in Outliers_IQR.items() if count > 0}
Outliers_Columns

{'MSSubClass': np.int64(103),
 'LotFrontage': np.int64(88),
 'LotArea': np.int64(69),
 'OverallQual': np.int64(2),
 'OverallCond': np.int64(125),
 'YearBuilt': np.int64(7),
 'MasVnrArea': np.int64(96),
 'BsmtFinSF1': np.int64(7),
 'BsmtFinSF2': np.int64(167),
 'BsmtUnfSF': np.int64(29),
 'TotalBsmtSF': np.int64(61),
 '1stFlrSF': np.int64(20),
 '2ndFlrSF': np.int64(2),
 'LowQualFinSF': np.int64(26),
 'GrLivArea': np.int64(31),
 'BsmtFullBath': np.int64(1),
 'BsmtHalfBath': np.int64(82),
 'BedroomAbvGr': np.int64(35),
 'KitchenAbvGr': np.int64(68),
 'TotRmsAbvGrd': np.int64(30),
 'Fireplaces': np.int64(5),
 'GarageCars': np.int64(5),
 'GarageArea': np.int64(21),
 'WoodDeckSF': np.int64(32),
 'OpenPorchSF': np.int64(77),
 'EnclosedPorch': np.int64(208),
 '3SsnPorch': np.int64(24),
 'ScreenPorch': np.int64(116),
 'PoolArea': np.int64(7),
 'MiscVal': np.int64(52),
 'SalePrice': np.int64(61)}

In [ ]:
import numpy as np

In [ ]:
# Replace Outliers with upper & Lower fence

# Function to outliers
def Handle_Outliers(real, column):
    Q1 = real[column].quantile(0.25)
    Q3 = real[column].quantile(0.75)
    IQR = Q3 - Q1
    Lower_fence = Q1 - 1.5 * IQR
    Upper_fence = Q3 + 1.5 * IQR
    real.loc[real[column] < Lower_fence, column] = Lower_fence
    real.loc[real[column] > Upper_fence, column] = Upper_fence

# Select numeric columns
numeric_real = real.select_dtypes(include=['number'])

# Apply to all numeric columns
for column in numeric_real:
    Handle_Outliers(real, column)

/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1481.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1911.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1068.375' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-654.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '118.125' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '158.625' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-27.75' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence
/tmp/ipython-input-758951173.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3937.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  real.loc[real[column] < Lower_fence, column] = Lower_fence

In [ ]:
numeric_real = real.select_dtypes(include=['number'])

for col in numeric_real:
    Q1 = real[col].quantile(0.25)
    Q3 = real[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_fence = Q1 - 1.5 * IQR
    upper_fence = Q3 + 1.5 * IQR

    outliers_count = ((real[col] < lower_fence) | (real[col] > upper_fence)).sum()

    if outliers_count == 0:
        print(f"{col}: No outliers")
    else:
        print(f"{col}: {outliers_count} outliers remaining")

Lot_Frontage: No outliers
Lot_Area: No outliers
Overall_Quality: No outliers
Overall_Condition: No outliers
Year_Built: No outliers
Year_Remodeled: No outliers
Masonry_Veneer_Area: No outliers
Basement_Finished_SF_1: No outliers
Basement_Finished_SF_2: No outliers
Basement_Unfinished_SF: No outliers
Total_Basement_SF: No outliers
First_Floor_SF: No outliers
Second_Floor_SF: No outliers
Low_Quality_Finished_SF: No outliers
Above_Ground_Living_Area: No outliers
Basement_Full_Bath: No outliers
Basement_Half_Bath: No outliers
Full_Bathrooms: No outliers
Half_Bathrooms: No outliers
Bedrooms_Above_Grade: No outliers
Kitchens_Above_Grade: No outliers
Total_Rooms_Above_Grade: No outliers
Number_of_Fireplaces: No outliers
Garage_Year_Built: No outliers
Garage_Capacity_Cars: No outliers
Garage_Area: No outliers
Wood_Deck_SF: No outliers
Open_Porch_SF: No outliers
Enclosed_Porch_SF: No outliers
Three_Season_Porch_SF: No outliers
Screen_Porch_SF: No outliers
Pool_Area: No outliers
Miscellaneous_Value: No outliers
Month_Sold: No outliers
Year_Sold: No outliers
Sale_Price: No outliers

In [ ]:
# Trim categorical columns
# Select all categorical/object columns
category_columns = real.select_dtypes(include='object').columns

# Strip leading/trailing spaces for all categorical columns
for col in category_columns:
    real[col] = real[col].astype(str).str.strip()

### Rename column details

In [ ]:
real['Basement_Condition'].unique()

array(['TA', 'Gd', 'None', 'Fa', 'Po'], dtype=object)

In [ ]:
# Replace codes with full names
real['Basement_Condition'] = real['Basement_Condition'].replace({
    'Ex': 'Excellent',
    'Gd': 'Good',
    'TA': 'Typical',
    'Fa': 'Fair',
    'Po': 'Poor'
})

In [ ]:
real['Basement_Condition'].unique()

array(['Typical', 'Good', 'None', 'Fair', 'Poor'], dtype=object)

In [ ]:
real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 75 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   House_ID                  1460 non-null   object
 1   Building_Class            1460 non-null   object
 2   Zoning_Class              1460 non-null   object
 3   Lot_Frontage              1460 non-null   float64
 4   Lot_Area                  1460 non-null   float64
 5   Street_Type               1460 non-null   object
 6   Lot_Shape                 1460 non-null   object
 7   Land_Contour              1460 non-null   object
 8   Utilities_Available       1460 non-null   object
 9   Lot_Configuration         1460 non-null   object
 10  Land_Slope                1460 non-null   object
 11  Neighborhood_Name         1460 non-null   object
 12  Condition_Primary         1460 non-null   object
 13  Condition_Secondary       1460 non-null   object
 14  Building_Type             1460 non-null   object
 15  House_Style               1460 non-null   object
 16  Overall_Quality           1460 non-null   int64
 17  Overall_Condition         1460 non-null   float64
 18  Year_Built                1460 non-null   int64
 19  Year_Remodeled            1460 non-null   float64
 20  Roof_Style                1460 non-null   object
 21  Roof_Material             1460 non-null   object
 22  Exterior_Type_1           1460 non-null   object
 23  Exterior_Type_2           1460 non-null   object
 24  Masonry_Veneer_Area       1460 non-null   float64
 25  Exterior_Quality          1460 non-null   object
 26  Exterior_Condition        1460 non-null   object
 27  Foundation_Type           1460 non-null   object
 28  Basement_Quality          1460 non-null   object
 29  Basement_Condition        1460 non-null   object
 30  Basement_Exposure         1460 non-null   object
 31  Basement_Finish_Type_1    1460 non-null   object
 32  Basement_Finished_SF_1    1460 non-null   float64
 33  Basement_Finish_Type_2    1460 non-null   object
 34  Basement_Finished_SF_2    1460 non-null   int64
 35  Basement_Unfinished_SF    1460 non-null   float64
 36  Total_Basement_SF         1460 non-null   int64
 37  Heating_Type              1460 non-null   object
 38  Heating_Quality           1460 non-null   object
 39  Central_Air               1460 non-null   object
 40  Electrical_System         1460 non-null   object
 41  First_Floor_SF            1460 non-null   float64
 42  Second_Floor_SF           1460 non-null   int64
 43  Low_Quality_Finished_SF   1460 non-null   int64
 44  Above_Ground_Living_Area  1460 non-null   float64
 45  Basement_Full_Bath        1460 non-null   float64
 46  Basement_Half_Bath        1460 non-null   int64
 47  Full_Bathrooms            1460 non-null   float64
 48  Half_Bathrooms            1460 non-null   float64
 49  Bedrooms_Above_Grade      1460 non-null   float64
 50  Kitchens_Above_Grade      1460 non-null   int64
 51  Kitchen_Quality           1460 non-null   object
 52  Total_Rooms_Above_Grade   1460 non-null   int64
 53  Functional_Rating         1460 non-null   object
 54  Number_of_Fireplaces      1460 non-null   float64
 55  Garage_Type               1460 non-null   object
 56  Garage_Year_Built         1460 non-null   float64
 57  Garage_Finish_Type        1460 non-null   object
 58  Garage_Capacity_Cars      1460 non-null   float64
 59  Garage_Area               1460 non-null   float64
 60  Garage_Quality            1460 non-null   object
 61  Garage_Condition          1460 non-null   object
 62  Paved_Driveway            1460 non-null   object
 63  Wood_Deck_SF              1460 non-null   int64
 64  Open_Porch_SF             1460 non-null   int64
 65  Enclosed_Porch_SF         1460 non-null   int64
 66  Three_Season_Porch_SF     1460 non-null   int64
 67  Screen_Porch_SF           1460 non-null   int64
 68  Pool_Area                 1460 non-null   int64
 69  Miscellaneous_Value       1460 non-null   int64
 70  Month_Sold                1460 non-null   float64
 71  Year_Sold                 1460 non-null   int64
 72  Sale_Type                 1460 non-null   object
 73  Sale_Condition            1460 non-null   object
 74  Sale_Price                1460 non-null   float64
dtypes: float64(19), int64(17), object(39)
memory usage: 855.6+ KB

In [ ]:
real['Zoning_Class'].unique()

array(['RL', 'RM', 'C (all)', 'FV', 'RH'], dtype=object)

In [ ]:
# Replace codes with full names
real['Zoning_Class'] = real['Zoning_Class'].replace({
    'RL': 'Residential Low Density',
    'RM': 'Residential Medium Density',
    'C (all)': 'Commercial',
    'FV': 'Floating Village Residential',
    'RH': 'Residential High Density'
})

In [ ]:
real['Zoning_Class'].unique()

array(['Residential Low Density', 'Residential Medium Density',
       'Commercial', 'Floating Village Residential',
       'Residential High Density'], dtype=object)

In [ ]:
real['Street_Type'].unique()

array(['Pave', 'Grvl'], dtype=object)

In [ ]:
# Replace codes with full names
real['Street_Type'] = real['Street_Type'].replace({
    'Grvl': 'Gravel',
    'Pave': 'Paved'
})

In [ ]:
real['Street_Type'].unique()

array(['Paved', 'Gravel'], dtype=object)

In [ ]:
real['Lot_Shape'].unique()

array(['Reg', 'IR1', 'IR2', 'IR3'], dtype=object)

In [ ]:
# Replace codes with full names
real['Lot_Shape'] = real['Lot_Shape'].replace({
       'Reg':	'Regular',
       'IR1': 'Slightly irregular',
       'IR2':	'Moderately Irregular',
       'IR3': 'Irregular'
})

In [ ]:
real['Lot_Shape'].unique()

array(['Regular', 'Slightly irregular', 'Moderately Irregular',
       'Irregular'], dtype=object)

In [ ]:
real['Land_Contour'].unique()

array(['Lvl', 'Bnk', 'Low', 'HLS'], dtype=object)

In [ ]:
# Replace codes with full names
real['Land_Contour'] = real['Land_Contour'].replace({
       'Lvl':	'Level',
       'Bnk':	'Banked',
       'HLS':	'Hillside',
       'Low':	'Depression'
})

In [ ]:
real['Land_Contour'].unique()

array(['Level', 'Banked', 'Depression', 'Hillside'], dtype=object)

In [ ]:
real['Utilities_Available'].unique()

array(['AllPub', 'NoSeWa'], dtype=object)

In [ ]:
# Replace codes with full names
real['Utilities_Available'] = real['Utilities_Available'].replace({
       'AllPub':	'All Public Utilities',
       'NoSeWa':	'Electricity and Gas Only'
})

In [ ]:
real['Utilities_Available'].unique()

array(['All Public Utilities', 'Electricity and Gas Only'], dtype=object)

In [ ]:
real['Lot_Configuration'].unique()

array(['Inside', 'FR2', 'Corner', 'CulDSac', 'FR3'], dtype=object)

In [ ]:
# Replace codes with full names
real['Lot_Configuration'] = real['Lot_Configuration'].replace({
       'FR2':	'Frontage 2 sides',
       'FR3':	'Frontage 3 sides',
       'Inside':	'Inside lot',
       'CulDSac':	'Cul-de-sac'
})

In [ ]:
# Replace codes with full names
real['Lot_Configuration'] = real['Lot_Configuration'].replace({
       'Corner':	'Corner lot'
})

In [ ]:
real['Lot_Configuration'].unique()

array(['Inside lot', 'Frontage 2 sides', 'Corner lot', 'Cul-de-sac',
       'Frontage 3 sides'], dtype=object)

In [ ]:
real['Land_Slope'].unique()

array(['Gtl', 'Mod', 'Sev'], dtype=object)

In [ ]:
  # Replace codes with full names
real['Land_Slope'] = real['Land_Slope'].replace({
       'Gtl':	'Gentle',
       'Mod':	'Moderate',
       'Sev':	'Severe'
})

In [ ]:
real['Land_Slope'].unique()

array(['Gentle', 'Moderate', 'Severe'], dtype=object)

In [ ]:
real['Roof_Material'].unique()

array(['CompShg', 'WdShngl', 'Metal', 'WdShake', 'Membran', 'Tar&Grv',
       'Roll', 'ClyTile'], dtype=object)

In [ ]:
# Replace codes with full names
real['Roof_Material'] = real['Roof_Material'].replace({
       'ClyTile':	'Clay or Tile',
       'CompShg':	'Composite Shingle',
       'Membran':	'Membrane',
       'Metal':	'Metal',
       'Roll':	'Roll',
       'Tar&Grv':	'Gravel & Tar',
       'WdShake':	'Wood Shakes',
       'WdShngl':	'Wood Shingles'
})

In [ ]:
real['Roof_Material'].unique()

array(['Composite Shingle', 'Wood Shingles', 'Metal', 'Wood Shakes',
       'Membrane', 'Gravel & Tar', 'Roll', 'Clay or Tile'], dtype=object)

In [ ]:
real['Exterior_Type_1'].unique()

array(['VinylSd', 'MetalSd', 'Wd Sdng', 'HdBoard', 'BrkFace', 'WdShing',
       'CemntBd', 'Plywood', 'AsbShng', 'Stucco', 'BrkComm', 'AsphShn',
       'Stone', 'ImStucc', 'CBlock'], dtype=object)

In [ ]:
# Replace codes with full names
real['Exterior_Type_1'] = real['Exterior_Type_1'].replace({
    'AsbShng': 'Asbestos Shingles',
    'AsphShn': 'Asphalt Shingles',
    'BrkComm': 'Brick Common',
    'BrkFace': 'Brick Face',
    'CBlock': 'Cinder Block',
    'CemntBd': 'Cement Board',
    'HdBoard': 'Hard Board',
    'ImStucc': 'Imitation Stucco',
    'MetalSd': 'Metal Siding',
    'VinylSd': 'Vinyl Siding',
    'Wd Sdng': 'Wood Siding',
    'WdShing': 'Wood Shingles'
})

In [ ]:
real['Exterior_Type_1'].unique()

array(['Vinyl Siding', 'Metal Siding', 'Wood Siding', 'Hard Board',
       'Brick Face', 'Wood Shingles', 'Cement Board', 'Plywood',
       'Asbestos Shingles', 'Stucco', 'Brick Common', 'Asphalt Shingles',
       'Stone', 'Imitation Stucco', 'Cinder Block'], dtype=object)

In [ ]:
real['Exterior_Type_2'].unique()

array(['VinylSd', 'MetalSd', 'Wd Shng', 'HdBoard', 'Plywood', 'Wd Sdng',
       'CmentBd', 'BrkFace', 'Stucco', 'AsbShng', 'Brk Cmn', 'ImStucc',
       'AsphShn', 'Stone', 'Other', 'CBlock'], dtype=object)

In [ ]:
# Replace codes with full names
real['Exterior_Type_2'] = real['Exterior_Type_1'].replace({
    'AsbShng': 'Asbestos Shingles',
    'AsphShn': 'Asphalt Shingles',
    'BrkComm': 'Brick Common',
    'BrkFace': 'Brick Face',
    'CBlock': 'Cinder Block',
    'CemntBd': 'Cement Board',
    'HdBoard': 'Hard Board',
    'ImStucc': 'Imitation Stucco',
    'MetalSd': 'Metal Siding',
    'VinylSd': 'Vinyl Siding',
    'Wd Sdng': 'Wood Siding',
    'WdShing': 'Wood Shingles'
})

In [ ]:
real['Exterior_Type_2'].unique()

array(['Vinyl Siding', 'Metal Siding', 'Wood Siding', 'Hard Board',
       'Brick Face', 'Wood Shingles', 'Cement Board', 'Plywood',
       'Asbestos Shingles', 'Stucco', 'Brick Common', 'Asphalt Shingles',
       'Stone', 'Imitation Stucco', 'Cinder Block'], dtype=object)

In [ ]:
real['Exterior_Quality'].unique()

array(['Gd', 'TA', 'Ex', 'Fa'], dtype=object)

In [ ]:
real['Exterior_Quality'] = real['Exterior_Quality'].replace({
    'Ex': 'Excellent',
    'Gd': 'Good',
    'TA': 'Typical',
    'Fa': 'Fair',
    'Po': 'Poor'
})

In [ ]:
real['Exterior_Condition'].unique()

array(['TA', 'Gd', 'Fa', 'Po', 'Ex'], dtype=object)

In [ ]:
real['Exterior_Condition'] = real['Exterior_Condition'].replace({
    'Ex': 'Excellent',
    'Gd': 'Good',
    'TA': 'Typical',
    'Fa': 'Fair',
    'Po': 'Poor'
})

In [ ]:
real['Foundation_Type'].unique()

array(['PConc', 'CBlock', 'BrkTil', 'Wood', 'Slab', 'Stone'], dtype=object)

In [ ]:
real['Foundation_Type'] = real['Foundation_Type'].replace({
    'BrkTil': 'Brick & Tile',
    'CBlock': 'Cinder Block',
    'PConc': 'Poured Concrete',
    'Slab': 'Slab'
})

In [ ]:
real['Basement_Quality'].unique()

array(['Gd', 'TA', 'Ex', 'None', 'Fa'], dtype=object)

In [ ]:
real['Basement_Quality'] = real['Basement_Quality'].replace({
    'Ex': 'Excellent',
    'Gd': 'Good',
    'TA': 'Typical',
    'Fa': 'Fair',
    'Po': 'Poor'
})

In [ ]:
real['Basement_Exposure'].unique()

array(['No', 'Gd', 'Mn', 'Av', 'None'], dtype=object)

In [ ]:
real['Basement_Exposure'] = real['Basement_Exposure'].replace({
    'Gd': 'Good Exposure',
    'Av': 'Average Exposure',
    'Mn': 'Minimum Exposure',
    'No': 'No Exposure'
})

In [ ]:
real['Basement_Finish_Type_1'].unique()

array(['GLQ', 'ALQ', 'Unf', 'Rec', 'BLQ', 'None', 'LwQ'], dtype=object)

In [ ]:
real['Basement_Finish_Type_1'] = real['Basement_Finish_Type_1'].replace({
    'GLQ': 'Good Living Quarters',
    'ALQ': 'Average Living Quarters',
    'BLQ': 'Below Average Living Quarters',
    'Rec': 'Average Rec Room',
    'LwQ': 'Low Quality',
    'Unf': 'Unfinished'
})

In [ ]:
real['Basement_Finish_Type_2'].unique()

array(['Unf', 'BLQ', 'None', 'ALQ', 'Rec', 'LwQ', 'GLQ'], dtype=object)

In [ ]:
real['Basement_Finish_Type_2'] = real['Basement_Finish_Type_2'].replace({
    'GLQ': 'Good Living Quarters',
    'ALQ': 'Average Living Quarters',
    'BLQ': 'Below Average Living Quarters',
    'Rec': 'Average Rec Room',
    'LwQ': 'Low Quality',
    'Unf': 'Unfinished'
})

In [ ]:
real['Heating_Quality'].unique()

array(['Ex', 'Gd', 'TA', 'Fa', 'Po'], dtype=object)

In [ ]:
real['Heating_Quality'] = real['Heating_Quality'].replace({
    'Ex': 'Excellent',
    'Gd': 'Good',
    'TA': 'Typical',
    'Fa': 'Fair',
    'Po': 'Poor'
})

In [ ]:
real['Central_Air'].unique()

array(['Y', 'N'], dtype=object)

In [ ]:
real['Central_Air'] = real['Central_Air'].replace({
    'Y': 'Yes',
    'N': 'No'
})

In [ ]:
real['Kitchen_Quality'].unique()

array(['Gd', 'TA', 'Ex', 'Fa'], dtype=object)

In [ ]:
real['Kitchen_Quality'] = real['Kitchen_Quality'].replace({
    'Ex': 'Excellent',
    'Gd': 'Good',
    'TA': 'Typical',
    'Fa': 'Fair',
    'Po': 'Poor'
})

In [ ]:
real['Functional_Rating'].unique()

array(['Typ', 'Min1', 'Maj1', 'Min2', 'Mod', 'Maj2', 'Sev'], dtype=object)

In [ ]:
real['Functional_Rating'] = real['Functional_Rating'].replace({
    'Typ': 'Typical',
    'Min1': 'Minor Deductions 1',
    'Min2': 'Minor Deductions 2',
    'Mod': 'Moderate Deductions',
    'Maj1': 'Major Deductions 1',
    'Maj2': 'Major Deductions 2',
    'Sev': 'Severely Damaged',
    'Sal': 'Salvage Only'
})

In [ ]:
real['Garage_Finish_Type'].unique()

array(['RFn', 'Unf', 'Fin', 'None'], dtype=object)

In [ ]:
real['Garage_Finish_Type'] = real['Garage_Finish_Type'].replace({
    'Fin': 'Finished',
    'RFn': 'Rough Finished',
    'Unf': 'Unfinished'
})

In [ ]:
real['Garage_Quality'].unique()

array(['TA', 'Fa', 'Gd', 'None', 'Ex', 'Po'], dtype=object)

In [ ]:
real['Garage_Quality'] = real['Garage_Quality'].replace({
    'Ex': 'Excellent',
    'Gd': 'Good',
    'TA': 'Typical',
    'Fa': 'Fair',
    'Po': 'Poor'
})

In [ ]:
real['Garage_Condition'].unique()

array(['TA', 'Fa', 'None', 'Gd', 'Po', 'Ex'], dtype=object)

In [ ]:
real['Garage_Condition'] = real['Garage_Condition'].replace({
    'Ex': 'Excellent',
    'Gd': 'Good',
    'TA': 'Typical',
    'Fa': 'Fair',
    'Po': 'Poor'
})

In [ ]:
real['Paved_Driveway'].unique()

array(['Y', 'N', 'P'], dtype=object)

In [ ]:
real['Paved_Driveway'] = real['Paved_Driveway'].replace({
    'Y': 'Paved',
    'P': 'Partial',
    'N': 'Dirt/Gravel'
})

In [ ]:
real['Sale_Type'].unique()

array(['WD', 'New', 'COD', 'ConLD', 'ConLI', 'CWD', 'ConLw', 'Con', 'Oth'],
      dtype=object)

In [ ]:
real['Sale_Type'] = real['Sale_Type'].replace({
    'WD': 'Warranty Deed Conventional',
    'CWD': 'Warranty Deed Cash',
    'VWD': 'Warranty Deed VA Loan',
    'COD': 'Court Officer Deed/Estate',
    'Con': 'Contract 15% Down',
    'ConLw': 'Contract Low Down/Interest',
    'ConLI': 'Contract Low Interest',
    'ConLD': 'Contract Low Down',
    'Oth': 'Other'
})

In [ ]:
real['Sale_Condition'].unique()

array(['Normal', 'Abnorml', 'Partial', 'AdjLand', 'Alloca', 'Family'],
      dtype=object)

In [ ]:
real['Sale_Condition'] = real['Sale_Condition'].replace({
    'AdjLand': 'Adjoining Land',
    'Alloca': 'Allocation'
})

In [ ]:
real.to_csv('Real_State_Data.csv', index=False)